#TabResultat {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 600px;
  }
  
  #TabResultat td, #TabResultat th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #TabResultat tr:nth-child(even){background-color: #f2f2f2;}
  
  #TabResultat tr:hover {background-color: #ddd;}
  
  #TabResultat th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #6687e0;
    color: white;
    text-align: center;
  }
  .NoteBien3{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;

  }
  .NBp3{
    margin-top:5px;
  }
  .NB3{
    margin-top:10px;
  }
