.ModuleConsultation{
  margin-left: 20px;
  padding-top: 10px;
  padding: 10px;
  padding-bottom: 10px;
  background-color:#8295e9;
  color:white;
  font-size: 15px;
  border-radius: 2px;
  font-weight:bold;
  letter-spacing: 1px;
  text-align:center;
  margin-bottom: 40px;
}
.Comment{
   font-weight: lighter;
   font-size:15px;
   text-align: left;
   margin-top: 80px;
   margin-bottom:15px;
   
}

.DemandeConsultation{
        border: 1px solid #6687e0;
        width: 603px;
        height: 450px;
        background-color: white;
        align-items: center;
        text-align:center;
}

.DemandeFormConsultation{
    height:100%;
    padding:20px;
    width: 600px;
    text-align:center;

}

.TitleDemande{
   margin-bottom: 30px;
}

h4{
    margin-bottom:10px;
    font-weight:lighter;
    
}

.dropbtn {
    background-color: #8295e9;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .Description{
      width:400px;
      height:100px;
  }

  .Envoyer{
     position: relative;
     border:1px solid black;
     padding:5px;
     cursor: pointer;
  }

  .NoteBien{
    border: 1px solid #6687e0;
    height:70px;
    width:601px;
    background-color: rgb(207, 94, 94);
  }

  .NB{
    margin-bottom:0;
    margin-top:3px;
    font-weight: bolder;
  }

  .NBp{
      margin-top:0;
      font-weight: bold;
  }
  .Envoyer2{
    padding:10px;
    background-color:linea
  }

  .Envoyer2 {background-image: linear-gradient(to right, #5c95bb 0%, #8a7eb6  51%, #173950  100%)}
  .Envoyer2{
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .Envoyer2:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
   .Envoyer2:active {
    margin-top: 20px;
  }
  .Description{
    align-items: center;
  }
  .modulemove{
    text-align: center;
    width: 600px;
    margin-left: 60px;

  }
 