
.thReponse{
    width: 400px;
}

.Reponse{
    width: 60px;
    margin: 0 auto;
    margin-left: 10px;
    padding: 3px;
    cursor: pointer;
}

.Reponse {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }