#TabExamens {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 600px;
    margin-top: 140px;
  }
  
  #TabExamens td, #TabExamens th {
    border: 1px solid #ddd;
    padding: 5px; 
  }
  
  #TabExamens tr:nth-child(even){background-color: #f2f2f2;}
  
  #TabExamens tr:hover {background-color: #ddd;}
  
  #TabExamens th {
    /* padding-top: 9px;
    padding-bottom: 9px; */
    background-color: #6687e0;
    color: white;
    text-align: center;
  }

  .ConvocationEtudiant{
      border: 1px solid black ; 
      padding: 50px;
      margin-top: 30px;
      width: 600px;
  }

  .ConvoInformation{
    float: left;
    margin-right:100px;
    text-align: left;
  }
  .ConvoInformation h3{
      font-weight: lighter;
      margin-top:5px;
  }

  .ConvoQR{
    margin-top: 20px;
  }
  .donwload2{
    margin-left: 200px;
  }

  .someButton2{
    cursor: pointer;
  }

 